body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.option-box {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 250px;
  height: 150px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #e37cec;
}

.option-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #ddd;
}

.logout-form {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logout-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #da190b;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, input, button {
  margin-bottom: 1rem;
}

input[type="text"], input[type="password"] {
  padding: 5px;
  width: 200px;
}

button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #da190b;
}
